@font-face {
  font-family: 'GoboldBold';
  src: url('fonts/Gobold\ Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldRegu';
  src: url('fonts/Gobold\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldThin';
  src: url('fonts/Gobold\ Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JackInput';
  src: url('fonts/JAi_____.TTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Imágenes */
img {
  max-width: 100%;
  /* nunca se salen de su contenedor */
  height: auto;
  display: block;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/patron.png');
  background-repeat: repeat;
  background-size: 78px 78px;
  background-color: #FFBC00;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  justify-content: flex-start;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EA0000;
  padding: 13px 15px 5px 15px;
  position: relative;
  z-index: 10;
}

header img {
  height: 35px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0px 10px;
}

nav ul li a {
  font-family: 'GoboldThin';
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}


nav ul li a:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #EA0000;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  min-width: 150px;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.dropdown-menu li a:hover {
  color: white;
  background-color: #b30000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



.frentebanner {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}


.hero img {
  width: 100%;
  height: auto;
  display: block;
}



.quienes-text img {
  width: 100%;
  align-items: stretch;
  height: auto;
  display: flex;
  padding: 20px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}



.democraciabandera {
  text-align: center;
}

.democraciabandera img {
  display: block;
  width: auto;
  max-width: 90%;
  height: auto;
  margin: 5px auto;
}



.content {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 20px 15px 20px 30px;
  box-sizing: border-box;
  margin: auto;
}


.left {
  flex: 1.8;
  display: flex;
  flex-direction: column;
  margin: auto;
}


.left img {
  width: 100%;
  object-fit: contain;
  max-height: 700px;
}


.right {
  flex: 1.08;
  flex-direction: column;
  display: flex;
  margin: auto;
}


.right img {
  width: 100%;
  object-fit: contain;
  display: none;
  transition: opacity 0.5s ease-in-out;
  max-height: 700px;
}

.right img.active {
  display: block;
}

.sumate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px 10px 20px;
}

.sumate img {
  width: 100%;
  max-width: 1150px;
  height: auto;
  max-height: 600px;
}

footer {
  background-color: #EA0000;
  color: #fff;
  padding: 15px 5px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin: 10px 0 10px 0;
  font-size: 14px;
}

.footer-links a {
  color: #ccc;
  margin: 0 8px;
}

.footer-links a:hover {
  color: #fff;
}

.social-icons {
  margin: 2px auto 20px;
  display: flex;
  justify-content: center;
}


.social-icons a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 12px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
  filter: brightness(1.3);
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  padding: 30px 125px 70px;
}

.grid-galeria a {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-galeria img {
  width: 100%;
  height: 100%;
  object-fit: stretch;
  transition: transform 0.3s ease;
}

.grid-galeria img:hover {
  transform: scale(1.05);
}

.peluches {
  text-align: center;
}

.peluches img {
  display: block;
  width: auto;
  max-width: 90%;
  height: auto;
  margin: 20px auto;
}

.peluches-texto {
  display: block;
  max-width: 90%;
  margin: 0px auto 10px;
  font-family: 'JackInput';
  text-align: left;
  hyphens: auto;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.contacto {
  display: block;
  max-width: 100%;
  font-family: 'GoboldRegu';
  text-align: center;
  font-size: 91%;
  color: #fff;
  background-color: #48ac4b;
  padding: 8px;
  margin: 8px 20px;
  text-decoration: none;
}

.contacto:hover {
  opacity: 0.85;
}


.contacto a {

  text-decoration: none;
  color: inherit;
}

.peluches-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1330px;
  width: 100%;
}

.peluches-galeria img.portada-galeria {
  width: 90%;
  height: auto;
  display: block;
  margin: 10px auto 10px auto;
}

.redes-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 90%;
  margin: 5px auto;
}

.redes-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 8px 10px;
  text-decoration: none;
  color: white;
  font-weight: thin;
  font-size: 14px;
  font-family: 'GoboldRegu';
  cursor: pointer;
}

.redes-button.ig {
  background-color: #E1306C;
}

.redes-button.fb {
  background-color: #1877F2;
}

.redes-button.wsp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #34a538;
  color: white;
  text-decoration: none;
}

.redes-button:hover {
  opacity: 0.85;
}

.redes-button span {
  cursor: pointer;
}

.redes-button img {
  cursor: pointer;
}

.icono {
  width: 13px;
  height: 13px;
  vertical-align: middle;
}

.titulo-error {
  display: block;
  width: 100%;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'JackInput';
  margin: 150px auto;
  text-align: center;
}

.error-cabecera {
  font-size: 40px;
  width: 90%;
  margin: 0 auto;
}

.error-cuerpo {
  padding: 20px;
  width: 100%;
}

@media (min-width: 1024px) {

  .content {
    margin: 50px auto;
    width: 89%;
  }

  .social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease, filter 0.2s ease;
  }

  .error-cabecera {
    font-size: 60px;
  }

  .error-cuerpo {
    font-size: 30px;
  }

  .icono {
    width: 25px;
    height: 25px;
  }

  .redes-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
  }

  .redes-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    font-weight: thin;
    font-size: 30px;
    font-family: 'GoboldRegu';
  }

  .peluches-texto {
    width: 1205px;
    max-width: 90%;
    font-family: 'JackInput';
    text-align: left;
    font-size: 200%;
    margin: 0px auto;
  }

  nav ul li a {
    font-size: 1rem;
  }

  nav ul {
    gap: 30px;
    padding: 0 15px;
  }

  .quienes-combo {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
  }

  .quienes-text,
  .quienes-somos-feria {
    width: 40%;
  }


  .quienes-text img {
    width: 100%;
    height: auto;
    padding: 40px 20px 100px 20px;
  }

  .peluches {
    max-width: 70%;
    padding: 30px;
    margin: 0 auto;
  }


  .contacto {
    display: block;
    max-width: 100%;
    font-family: 'GoboldRegu';
    text-align: center;
    font-size: 200%;
    margin: 0px auto;
    padding: 15px;
    margin: 0px 379px;

  }


}


@media (max-width: 768px) {

  .titulo img {
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
  }

  .epigrafe img {
    padding: 0px;
    margin: 0 auto;
  }

  .grid-galeria {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 30px 50px 30px;
    gap: 15px;
  }

  .marco-frentebanner {
    max-width: 90%;
  }

  .marco::after {
    border: 2px solid black;
    top: -6px;
    left: 6px;
  }


  .lb-prev,
  .lb-next {
    opacity: 0.5 !important;
    width: 5px;
    height: 5px;
    top: 50%;
  }

}